*{
    
    /*outline: 1px dotted red;*/
    padding: 0;
    margin: 0;
 }
 form{
    /*background-color: yellow;*/
    width: 750px;
    display: flex;
 }
 .nav{
    color: white;
    background-color: black;
    width: 750px;
    height: 80px;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 5px;
     
 }
 .nav-links{
    width:40%; 
    display: flex;
    align-items: center;
    justify-content: space-around;
     text-decoration: none;
     color: white;
     
 }
 .nav-links li{
     list-style: none;
 }
 .nav-links a{
     color: white;
     text-decoration: none;
 }
 
 .nav-links button{
     color: white;
     background-color:rgb(35, 228, 225);
 }
 .nav-title{
     width: 15%;
     padding-left: 20px;
 
 }
  .btn{
    margin-left: 225px;
    background-color:  #17a2b8;
 }
 .btn button{
    background-color: #17a2b8;
 }
 .active{
     font-weight: bold;
 }
 .container{
    border: solid 2px rgb(196, 196, 214);
    width: 400px;
    /* position: fixed; */
    margin: 20px;
    display: flex;
    flex-direction: column;
    
}
.header{
    background-color: #17a2b8;
    /* flex: 1; */
    height: 100px;
}
.info img{
    width: 20px;
    height: 20px;
}
.map{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 80px;
    font-weight: bold;
}
.info{
    padding: 50px 0px 10px 20px;
    height: 150px;
    /* flex: 3; */
}
.pic{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 165px;
    padding:0 0 0 20px;
}
.conn-req{
    width: 280px;
    height: 150px;
    border: solid 2px rgb(196, 196, 214);
    margin: 20px 0px 20px 20px;
    
}
.conn-title{
    color: white;
    background-color: black;
    padding: 10px;
    font-weight: lighter;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.circle{
    width:20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    text-align: center;
    background-color: gray;
    color: black;
    font-weight: bold;

}
.conn-req img{
    width: 30px;
    height: 30px;
}
.conn-body{
    display: flex;
    flex-direction: column;
}
.tod{
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}
.phil{
    display:flex;
    justify-content: space-around;
    align-items: center;
    

}
.edu{
    background-color: blueviolet;
    width: 400px;
    height: 120px;
    margin: 20px;
}
.TopEdu{
    background-color: black;
    height: 40px;
    color: white;
    padding: 5px 0 5px 30px;
    display: flex;
    align-items: center;
}
.infoEdu{
    padding: 5px 0 5px 30px;
    color: black;
    background-color: white;
    border-right: solid 2px rgb(196, 196, 214);
    border-left:solid 2px rgb(196, 196, 214);
    
}
.infoEdu h4{
    color: rgb(196, 196, 214) ;
}
.yourCon{
    width: 280px;
    height: 290px;
    /*background-color: aqua;*/
    margin-left: 20px;
}

.yourcon-up{
    background-color: black;
    height: 40px;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    
}
.circle2{
    width: 40px;
    height: 20px;
    border-radius: 70%;
    border: 1px solid gray;
    text-align: center;
    background-color: gray;
    color: black;
    font-weight: bold;

}
.ad{
    display: flex;
    margin: 10px;
    justify-content: flex-start;
}
.people{
    border:solid 2px rgb(196, 196, 214) ;
    display: flex;
    flex-direction: column;
}
.people img{
    width: 30px;
    height: 30px;
    margin: 0px 15px 0px 15px;
    
}
.yourcon-down{
    height: 20px;
    color: white;
    display: flex;
    justify-content: flex-start;
    padding: 15px;
    align-items: center;
    border:solid 2px rgb(196, 196, 214) ;
}